<div class="tour">
    <div class="group">
        <div class="tour-img">
            <img [src]="'assets/images/upcoming-tour.jpg'" alt="tour">
        </div>

        <div class="info">
            <h2 class="tour-name">
                Kedarnath Yatra
            </h2>
            <span class="institution-name">Shiv Shakti Mandal</span>
        </div>
    </div>

    <div class="date">
        <span>12 May - 18 May 2026</span>
    </div>

    <div class="fee">
        @if (!isCompleted()) {
        <span class="price">12,500 Rs.</span>
        }@else {
        <span class="status">Completed</span>
        }
    </div>

    <app-button [title]="'View Details'" [pv]="'8px'" [bs]="'none'" />
</div>