<div class="navbar">
    <div class="logo" (click)="logoClick()">
        <img [src]="`https://cdn-icons-png.flaticon.com/128/16770/16770541.png`" alt="logo">
        <span>DindiYatra</span>
    </div>

    <div class="menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">
            Home
        </a>
        <a routerLink="/institutions" routerLinkActive="active" class="item">
            Institutions
        </a>
        <a routerLink="/tours" routerLinkActive="active" class="item">
            Tours
        </a>
        <a routerLink="/payments" routerLinkActive="active" class="item">
            Payments
        </a>
        <a routerLink="/profile/123" routerLinkActive="active" class="item">
            Profile
        </a>
        <a routerLink="/about-us" routerLinkActive="active" class="item">
            About Us
        </a>
        <a routerLink="/contact" routerLinkActive="active" class="item">
            Contact
        </a>
    </div>

    <div class="auth-btns">
        <app-button [title]="'Login'" [isPrimary]="true" />
    </div>
</div>