.inst-upcoming-tours{
    width: calc(100% - 270px);

    .tours{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .inst-upcoming-tours{
        width: 100%;
    }
}