<div class="sidebar">
    <div class="logo" (click)="logoClick()">
        <img [src]="'assets/images/yatra-logo.png'" alt="logo">
        <span>DindiYatra</span>
    </div>

    <div class="menu">
        <div class="top">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">
                <img [src]="`assets/icons/dashboard.png`" alt="">
                <span>Dashboard</span>
            </a>
            <a routerLink="/institutions" routerLinkActive="active" class="item">
                <img [src]="`assets/icons/institution.png`" alt="">
                <span>Institutions</span>
            </a>
            <a routerLink="/tours" routerLinkActive="active" class="item">
                <img [src]="`assets/icons/tours.png`" alt="">
                <span>Tours</span>
            </a>
            <a routerLink="/payments" routerLinkActive="active" class="item">
                <img [src]="`assets/icons/payments.png`" alt="">
                <span>Payments</span>
            </a>
            <a routerLink="/profile/123" routerLinkActive="active" class="item">
                <img [src]="`assets/icons/profile.png`" alt="">
                <span>Profile</span>
            </a>
        </div>
        <div class="bottom">
            <a routerLink="/" routerLinkActive="active" class="item">
                <img [src]="`assets/icons/logout.png`" alt="">
                <span>Logout</span>
            </a>
        </div>
    </div>
</div>