<footer class="footer">

    <div class="top">

        <div class="brand">
            <div class="logo">
                <img [src]="`https://cdn-icons-png.flaticon.com/128/16770/16770541.png`" alt="logo">

                <span>Yatra</span>
            </div>

            <p>
                Explore spiritual journeys, temple tours,
                and unforgettable experiences across India.
            </p>
        </div>

        <div class="links">
            <h3>Quick Links</h3>

            <a routerLink="/">Home</a>
            <a routerLink="/tours">Tours</a>
            <a routerLink="/institutions">Institutions</a>
            <a routerLink="/login">Login</a>
        </div>

        <div class="links">
            <h3>Support</h3>

            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Help</a>
        </div>

        <div class="contact">
            <h3>Contact</h3>

            <p>Pune, Maharashtra</p>
            <p>support@dindiyatra.com</p>
            <p>+91 1234567891</p>
        </div>

    </div>

    <div class="bottom">
        <p>© {{ currentYear }} Dindi Yatra. All rights reserved.</p>
    </div>

</footer>